{% extends "index.html" %}
{% block page_content %}
<script src="js/jquery-3.6.4.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>

    <section class="page-section bg-primary text-white">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase">Log in</h2>

            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>

            </div>

            <div class="row justify-content-center flex">
                <div class="col-md-5 col-xl-5">
                    <form id="contactForm" action="/contacts/" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="id_name">Name</label>
                            {{ form.name }}
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <select id="country" class="form-control">
                                <option value="ru">Россия +7</option>
                                <option value="ua">Украина +380</option>
                                <option value="by">Беларусь +375</option>
                            </select>
                            {{ form.phone }}
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            {{ form.email }}
                        </div>

                        <script>
                            jQuery (function ($) {
                              $(function() {
                                function maskPhone() {
                                  let country = $('#country option:selected').val();
                                  switch (country) {
                                    case "ru":
                                      $("#phone").mask("+7(999) 999-99-99");
                                      break;
                                    case "ua":
                                      $("#phone").mask("+380(999) 999-99-99");
                                      break;
                                    case "by":
                                      $("#phone").mask("+375(999) 999-99-99");
                                      break;
                                  }
                                }
                                maskPhone();
                                $('#country').change(function() {
                                  maskPhone();
                                });
                              });
                            });
                        </script>
                    </form>
                    <form action="questions_index">
                        <button id="submitButton" class="btn btn-primary btn-xl" type="submit">Вход</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{%endblock%}