{% extends "index.html" %}
{% block page_content %}

<div class="quiz" id="quiz">
    <div class="quiz-questions" id="quiz-questions"></div>
    <div class="quiz-indicator" id="quiz-indicator"></div>
    <div class="quiz-results" id="quiz-results"></div>
    <div class="quiz-quest" id="quiz-quest"></div>
    <div class="quiz-answ" id="quiz-answ"></div>

    <div class="quiz-controls">
        <button class="btn btn-primary btn-next" id="btn-next">Далее</button>
        <button class="btn btn-warning btn-restart" id="btn-restart">Пройти заново</button>
    </div>
</div>

<script src="js/scripts.js" data-inline-formset=""></script>

{% endblock %}